@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@font-face {
  font-family: 'Gilroy 100';
  src: url("../fonts/Gilroy-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Gilroy 900';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

:root {
  --accent-color: #ff312e;
  --primary-text-color: #222222;
  --white-color: #ffffff;
  --bg-color: #f2f2f2;
  --bg-pale-color: #e5e5e5;
  --thin-border-color: rgba(34, 34, 34, 0.1);
  --gilroy-extra-bold: 'Gilroy 900', sans-serif;
}

.some {
  font-family: 'Gilroy 900', sans-serif;
}

body {
  font-family: 'Gilroy 100', sans-serif;
  font-size: 11px;
  line-height: 1.545;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 13px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 15px;
    line-height: calc(22 / 15);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: var(--primary-text-color);
}

.btn {
  font-family: 'Gilroy 900', sans-serif;
  font-size: 11px;
  line-height: 1.181;
  font-weight: 900;
  padding: 12px 63px;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  cursor: pointer;
}

.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-family: Gilroy;
  font-size: 24px;
  line-height: 1.167;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 1.175;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 80px;
  }
}

.section-title-pale {
  font-family: Gilroy;
  font-size: 28px;
  line-height: 1.179;
  color: var(--white-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-title-pale {
    font-size: 44px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .section-title-pale {
    font-size: 84px;
  }
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  padding: 0;
}

.mobile-menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__list::before {
  position: absolute;
  top: -15px;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--primary-text-color);
}

.mobile-menu__item {
  margin-bottom: 36px;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--primary-text-color);
}

.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__link.active::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  margin-bottom: 6px;
  background-color: var(--primary-text-color);
}

.mobile-menu__link.active::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background-color: var(--primary-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  overflow: scroll;
}

.choose-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 12px 0;
  width: 100%;
  border: 0;
  background-color: var(--white-color);
}

.choose-button::before, .choose-button::after {
  content: '';
  position: absolute;
  left: -10px;
  display: block;
  height: 0.5px;
  width: calc(100% + 2 * 10px);
  background-color: var(--thin-border-color);
}

.choose-button::before {
  top: 0;
}

.choose-button::after {
  bottom: 0;
}

.job-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.job-list__about-info {
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.job-list__title {
  font-family: 'Gilroy 900', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

.job-list__photo {
  position: relative;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
}

.job-list__photo::after {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  content: '';
  height: 145px;
  width: 145px;
  background-color: var(--bg-color);
}

.job-list__order-info {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-list__price-accent {
  display: block;
  font-family: 'Gilroy 900', sans-serif;
  font-size: 20px;
}

.job-list__price-annex {
  display: block;
}

.job-examples {
  position: relative;
  padding: 36px 0 72px 0;
}

.job-examples__image {
  position: absolute;
  left: 50%;
  display: block;
  max-width: 150px;
}

.job-examples__image--head {
  bottom: 100%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.job-examples__image--bottom {
  top: 100%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.job-examples__title {
  margin-bottom: 36px;
  font-family: 'Gilroy 900', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.job-examples__title::after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 40px;
  height: 4px;
  background-color: var(--accent-color);
}

.footer {
  padding-bottom: 18px;
  background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 41px;
  }
}

.footer__title {
  position: relative;
  top: -8px;
  margin-bottom: 36px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__title {
    top: -12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    top: -22px;
  }
}

.footer__title::after {
  content: '';
  display: block;
  margin: 6px auto 0px;
  width: 40px;
  height: 4px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__title::after {
    margin: 8px auto 0px;
    width: 70px;
    height: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title::after {
    margin: 10px auto 0px;
    width: 102px;
    height: 6px;
  }
}

.address {
  text-align: center;
  font-style: inherit;
  margin-bottom: 52px;
}

@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 121px;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) {
  .address-list__item--location {
    text-align: left;
  }
  .address-list__item--phone {
    text-align: center;
  }
  .address-list__item--mail {
    text-align: right;
  }
}

.address-list__link {
  display: block;
  font-family: var(--gilroy-extra-bold);
  margin-bottom: 6px;
  font-size: 13px;
  line-height: calc(15 / 13);
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .address-list__link {
    font-size: 18px;
    line-height: calc(26 / 22);
  }
}

@media screen and (min-width: 1200px) {
  .address-list__link {
    font-size: 22px;
    line-height: calc(26 / 22);
  }
}

.address-list__text {
  line-height: calc(13 / 11);
}

@media screen and (min-widht: 768px) {
  .address-list__text {
    line-height: calc(15 / 18);
  }
}

.footer-wrapper-down {
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-wrapper-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-wrapper-down::before {
    content: '';
    position: absolute;
    top: -41px;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0.2;
    border-top: 1px solid var(--primary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .footer-wrapper-down__text {
    position: relative;
    margin-bottom: 33px;
  }
  .footer-wrapper-down__text::before {
    content: '';
    position: absolute;
    top: -16px;
    left: -10px;
    display: block;
    width: calc(100% + 2 * 10px);
    opacity: 0.2;
    border-top: 1px solid var(--primary-text-color);
  }
  .footer-wrapper-down__text::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: -10px;
    display: block;
    width: calc(100% + 2 * 10px);
    opacity: 0.2;
    border-bottom: 1px solid var(--primary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .footer-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav__item:not(:last-child) {
    margin-right: 34px;
  }
}

.footer-nav__link {
  color: inherit;
}

@media screen and (min-width: 768px) {
  .wrapper-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .wrapper-social__text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-social__text {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-social__text {
    margin-right: 28px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 18px;
}

@media screen and (min-width: 768px) {
  .social-list__item:not(:last-child) {
    margin-right: 14px;
  }
}

.social-list__icon {
  display: block;
}
/*# sourceMappingURL=main.css.map */