body {
  font-family: 'Gilroy 100', sans-serif;
  font-size: 11px;
  line-height: 1.545;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  // max-width: 100%;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: 'Gilroy 900', sans-serif;
  font-size: 11px;
  line-height: 1.181;
  font-weight: 900;
  padding: 12px 63px;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  cursor: pointer;
}

.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
