@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@font-face {
  font-family: "Gilroy 100";
  src: url("../fonts/Gilroy-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Gilroy 900";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
:root {
  --accent-color: #ff312e;
  --primary-text-color: #222222;
  --white-color: #ffffff;
  --bg-color: #f2f2f2;
  --bg-pale-color: #e5e5e5;
  --thin-border-color: rgba(34, 34, 34, 0.1);
}

.some {
  font-family: "Gilroy 900", sans-serif;
}

body {
  font-family: "Gilroy 100", sans-serif;
  font-size: 11px;
  line-height: 1.545;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.link:visited {
  color: var(--primary-text-color);
}

.btn {
  font-family: "Gilroy 900", sans-serif;
  font-size: 11px;
  line-height: 1.181;
  font-weight: 900;
  padding: 12px 63px;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  cursor: pointer;
}

.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-family: Gilroy;
  font-size: 24px;
  line-height: 1.167;
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.section-title-pale {
  font-family: Gilroy;
  font-size: 28px;
  line-height: 1.179;
  color: var(--white-color);
  text-transform: uppercase;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-color: var(--white-color);
  overflow: scroll;
  transition: transform 250ms linear;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-menu__close {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  padding: 0;
}
.mobile-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu__list::before {
  position: absolute;
  top: -15px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primary-text-color);
}
.mobile-menu__item {
  margin-bottom: 36px;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--primary-text-color);
}
.mobile-menu__item:last-child {
  margin-bottom: 0;
}
.mobile-menu__link.active::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin-bottom: 6px;
  background-color: var(--primary-text-color);
}
.mobile-menu__link.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background-color: var(--primary-text-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.choose-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px 0;
  width: 100%;
  border: 0;
  background-color: var(--white-color);
}
.choose-button::before, .choose-button::after {
  content: "";
  position: absolute;
  left: -10px;
  display: block;
  height: 0.5px;
  width: calc(100% + 2 * 10px);
  background-color: var(--thin-border-color);
}
.choose-button::before {
  top: 0;
}
.choose-button::after {
  bottom: 0;
}

.job-list__item {
  display: flex;
  flex-wrap: wrap;
}

.job-list__about-info {
  flex-basis: 140px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.job-list__title {
  font-family: "Gilroy 900", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

.job-list__photo {
  position: relative;
  flex-basis: 160px;
}
.job-list__photo::after {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  content: "";
  height: 145px;
  width: 145px;
  background-color: var(--bg-color);
}

.job-list__order-info {
  margin-top: 22px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.job-list__price-accent {
  display: block;
  font-family: "Gilroy 900", sans-serif;
  font-size: 20px;
}

.job-list__price-annex {
  display: block;
}

.job-examples {
  position: relative;
  padding: 36px 0 72px 0;
}

.job-examples__image {
  position: absolute;
  left: 50%;
  display: block;
  max-width: 150px;
}
.job-examples__image--head {
  bottom: 100%;
  transform: translate(-50%, 50%);
}
.job-examples__image--bottom {
  top: 100%;
  transform: translate(-50%, -75%);
}

.job-examples__title {
  margin-bottom: 36px;
  font-family: "Gilroy 900", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}
.job-examples__title::after {
  content: "";
  display: block;
  margin-top: 6px;
  width: 40px;
  height: 4px;
  background-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */