/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
@import './base/font-face';
@import './utils/variables';
@import './base/common';
@import './base/container';

@import './components/section';
@import './components/header';
@import './components/mobile-menu';
@import './layout/hero';
@import './layout/school';
@import './components/job-examples/job-examples';
@import './layout/footer';
@import './layout/about';
