<footer class="footer">
  <div class="container">
    <h2 class="footer__title section-title-pale">всегда на связи</h2>
    <address class="address">
      <ul class="address-list list">
        <li class="address-list__item address-list__item-location">
          <a
            href="https://goo.gl/maps/qe9PBtUU8Yei8m5L8"
            target="_blank"
            class="address-list__link link"
            >г. Пенза, ТЦ Империя</a
          >
          <p class="address-list__text">Ежедневно с 8:00 до 20:00</p>
        </li>
        <li class="address-list__item address-list__item-phone">
          <a href="tel:+79053650916" class="address-list__link link">+7 905 365-09-16</a>
          <p class="address-list__text">Запись по телефону</p>
        </li>
        <li class="address-list__item address-list__item-mail">
          <a href="mailto:browexpert@mail.ru" class="address-list__link link">browexpert@mail.ru</a>
          <p class="address-list__text">Для вопросов и предложений</p>
        </li>
      </ul>
    </address>
    <div class="footer-wrapper-down">
      <p class="footer-wrapper-down__text">&#169; Brow Expert 2017–2018</p>
      <ul class="footer-nav list">
        <li class="footer-nav__item">
          <a href="./index.html" class="footer-nav__link link">Главная</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link link">О компании</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link link">Услуги</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link link">Отзывы</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link link">Обучение</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link link">Контакты</a>
        </li>
      </ul>
      <div class="wrapper-social">
        <p class="wrapper-social__text">Мы в соцсетях</p>
        <ul class="social-list list">
          <li class="social-list__item">
            <a href="" class="social-list__link link" aria-label="ВКонта́кте">
              <svg class="social-list__icon" width="20" height="11">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link link" aria-label="Instagram">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
