<footer>
  <div class="container">
    <h2 class="section-title-pale">всегда на связи</h2>
    <address>
      <div>
        <p>г. Пенза, ТЦ Империя</p>
        <p>Ежедневно с 8:00 до 20:00</p>
      </div>
      <div>
        <a href="tel:+79053650916" class="link">+7 905 365-09-16</a>
        <p>Запись по телефону</p>
      </div>
      <div>
        <a href="mailto:browexpert@mail.ru" class="link">browexpert@mail.ru</a>
        <p>Для вопросов и предложений</p>
      </div>
    </address>
    <div>
      <p>&#169; Brow Expert 2017–2018</p>
      <ul class="footer-nav list">
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link link">Главная</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link link">О компании</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link link">Услуги</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link link">Отзывы</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link link">Обучение</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link link">Контакты</a>
        </li>
      </ul>
      <div>
        <p>Мы в соцсетях</p>
        <ul class="social-list list">
          <li class="social-list-item">
            <a href="" class="social-list-link link" aria-label="ВКонта́кте">
              <svg class="social-list-icon" width="20" height="11">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a href="" class="social-list-link link" aria-label="Instagram">
              <svg class="social-list-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
