<header class="header">
    <div class="header__container container">
        <button type="button" class="header__menu-open-btn js-open-menu btn" aria-controls="mobile-menu"
            aria-expanded="false" aria-label="Переключатель мобильного меню">
            <svg width="30" height="20" aria-label="Переключатель мобильного меню">
                <use href="./images/sprite.svg#menu-open"></use>
            </svg>
        </button>
        <div class="header__contacts">
            <a href="tel:+79053650916" class="header__phone link">+7 905 365-09-16</a>
            <a href="mailto:info@browexpert.com" class="header__mail link">Написать нам</a>
        </div>
        <a class="header__logo link" href="/">BE</a>
    </div>
</header>