<section class="hero">
    <div class="container"></div>
    <div class="hero__left-block">
        <h1 class="hero__title">супер брови
            от мастеров
            brow Expert</h1>
        <p class="hero__text">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor</p>
    </div>
    <div class="hero__right-block"></div>
    <ul class="hero__btn-list">
        <li class="hero__btn-item">
            <button class="hero__btn" type="button">
                <svg class="icon" width="8" height="8">
                    <use href="../images/sprite.svg#hero-btn"></use>
                </svg>
            </button>
        </li>
        <li class="hero__btn-item">
            <button class="hero__btn" type="button">
                <svg class="icon" width="8" height="8">
                    <use href="../images/sprite.svg#hero-btn"></use>
                </svg>
            </button>
        </li>
        <li class="hero__btn-item">
            <button class="hero__btn" type="button">
                <svg class="icon" width="8" height="8">
                    <use href="../images/sprite.svg#hero-btn"></use>
                </svg>
            </button>
        </li>
        <li class="hero__btn-item">
            <button class="hero__btn" type="button">
                <svg class="icon" width="8" height="8">
                    <use href="../images/sprite.svg#hero-btn"></use>
                </svg>
            </button>
        </li>
    </ul>

</section>