<section>
  <!-- section head picture -->
  <picture>
    <source srcset="../images/pincers.png 1x, ../images/pincers@2x.png 2x" />
    <img src="../images/pincers.png" width="146" height="56" alt="Розовый пинцет" />
  </picture>

  <!-- section main inforamtion -->
  <h2>Что мы делаем</h2>
  <button>
    <span>Дизайн бровей</span>
    <svg height="6" width="12">
      <use href="../images/sprite.svg#list-open"></use>
    </svg>
  </button>

  <h3>Дизайн бровей</h3>
  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
  </p>
  <picture>
    <source srcset="../images/teammate-olya.png 1x, ../images/teammate-olya@2x.png 2x" />
    <img src="../images/teammate-olya.png" width="160" height="160" alt="Бровистка Оля" />
  </picture>
  <span>300&#8381; за сеанс</span>
  <button>Записаться</button>

  <!-- section foot picture -->
  <picture>
    <source srcset="../images/tube-gray.png 1x, ../images/tube-gray@2x.png 2x" />
    <img src="../images/pincers.png" width="138" height="138" alt="Серый тюбик" />
  </picture>
</section>
