<div class="mobile-menu__backdrop">
    <div class="mobile-menu container">
        <button type="button" class="mobile-menu__close btn">
            <svg width="25" height="25">
                <use href="./images/sprite.svg#menu-close"></use>
            </svg>
        </button>
        <ul class="mobile-menu__list list">
            <li class="mobile-menu__item"><a class="mobile-menu__link active link" href="">Главная</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>О компании</li>
            <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Услуги</li>
            <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Отзывы</li>
            <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Обучение</li>
            <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Контакты</li>
        </ul>
    </div>
</div>