<div class="mobile-menu">
    <button type="button" class="menu-close">
        <svg width="25" height="25">
            <use href="./images/sprite.svg#menu-close"></use>
        </svg>
    </button>
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href="">Главная</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>О компании</li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Услуги</li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Отзывы</li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Обучение</li>
        <li class="mobile-menu__item"><a class="mobile-menu__link link" href=""></a>Контакты</li>
    </ul>
</div>