<section class="section our-job">
  <div class="container">
    <h2 class="section-title--pale our-job__title red-line">это наша работа</h2>
    <p class="our-job__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore
    </p>
    <ul class="successes-list list">
      <li class="successes-list__item">
        <p class="successes-list__text">
          <span class="successes-list__text--red">5</span>выдающихся мастеров
        </p>
      </li>
      <li class="successes-list__item">
        <p class="successes-list__text">
          <span class="successes-list__text--red">1062</span>выдающихся мастеров
        </p>
      </li>
      <li class="successes-list__item">
        <p class="successes-list__text">
          <span class="successes-list__text--red">35</span>минут до результата
        </p>
      </li>
      <li class="successes-list__item">
        <p class="successes-list__text">
          <span class="successes-list__text--red">10</span>основных услуг
        </p>
      </li>
    </ul>

    <a href="" class="our-job__link link"
      >Узнать подробности
      <svg class="our-job__icon" width="30" height="7">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
</section>
