<section class="section our-job">
  <div class="container">
    <h2 class="section-title">это наша работа</h2>
    <p class="section-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore
    </p>
    <ul class="our-job-list list">
      <li class="our-job-item">
        <p class="our-job-text"><span class="our-job-text-red">5</span>выдающихся мастеров</p>
      </li>
      <li class="our-job-item">
        <p class="our-job-text"><span class="our-job-text-red">1062</span>выдающихся мастеров</p>
      </li>
      <li class="our-job-item">
        <p class="our-job-text"><span class="our-job-text-red">35</span>минут до результата</p>
      </li>
      <li class="our-job-item">
        <p class="our-job-text"><span class="our-job-text-red">10</span>основных услуг</p>
      </li>
    </ul>
    <a href="" class="our-job-link link">Узнать подробности</a>
  </div>
</section>
