<section class="section section-school">
    <div class="container">
        <h2 class="section-title section-title-school">школа мастеров</h2>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        <ul class="school-list">
            <li class="school-item">
                <p class="school-item-title">yчитесь</p>
                <p class="school-item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </li>
            <li>
                <p class="school-item-title">практикуйтесь</p>
                <p class="school-item-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
            </li>
            <li>
                <p class="school-item-title">советуйтесь</p>
                <p class="school-item-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
            </li>
        </ul>
        <button class="btn btn-school" type="button">Записаться</button>
    </div>
</section>