.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  &__menu-open-btn {
    padding: 0;
    border-style: none;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--phone {
      font-family: 'Gilroy 900', sans-serif;
      color: var(--primary-text-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &--mail {
      color: var(--primary-text-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  &__logo {
    font-family: 'Gilroy 900', sans-serif;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-transform: uppercase;
    color: var(--primary-text-color);

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: var(--primary-text-color);
    }

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: var(--primary-text-color);
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
