.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-color: var(--white-color);
  overflow: scroll;
  transition: transform 250ms linear;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0%);
  }

  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    border: none;
    padding: 0;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      position: absolute;
      top: -15px;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--primary-text-color);
    }
  }

  &__item {
    margin-bottom: 36px;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: var(--primary-text-color);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    &.active {
      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        margin-bottom: 6px;
        background-color: var(--primary-text-color);
      }

      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        margin-top: 6px;
        background-color: var(--primary-text-color);
      }
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
