.section {
  &-title {
    font-family: 'Gilroy 900', sans-serif;
    font-size: 24px;
    line-height: 1.167;
    color: var(--primary-text-color);
    text-transform: uppercase;
  }

  &-title-pale {
    font-family: 'Gilroy 900', sans-serif;
    font-size: 28px;
    line-height: 1.179;
    color: var(--white-color);
    text-transform: uppercase;
  }
}
