.footer {
  padding-bottom: 18px;
  background-color: var(--bg-color);
  @media screen and (min-width: 768px) {
    padding-bottom: 31px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 41px;
  }
}

.footer__title {
  position: relative;
  top: -8px;
  margin-bottom: 36px;
  text-align: center;
  @media screen and (min-width: 768px) {
    top: -12px;
  }
  @media screen and (min-width: 1200px) {
    top: -22px;
  }

  &::after {
    content: '';

    display: block;
    margin: 6px auto 0px;
    width: 40px;
    height: 4px;

    background-color: var(--accent-color);
    @media screen and (min-width: 768px) {
      margin: 8px auto 0px;
      width: 70px;
      height: 5px;
    }
    @media screen and (min-width: 1200px) {
      margin: 10px auto 0px;
      width: 102px;
      height: 6px;
    }
  }
}
.address {
  text-align: center;
  font-style: inherit;
  margin-bottom: 52px;
  @media screen and (min-width: 768px) {
    margin-bottom: 90px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 121px;
  }
}
.address-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.address-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
  @media screen and (min-width: 768px) {
    &-location {
      text-align: left;
    }
    &-phone {
      text-align: center;
    }
    &-mail {
      text-align: right;
    }
  }
}

.address-list__link {
  display: block;
  font-family: var(--gilroy-extra-bold);
  margin-bottom: 6px;

  font-size: 13px;
  line-height: calc(15 / 13);
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(26 / 22);
  }
  @media screen and (min-width: 1200px) {
    font-size: 22px;
    line-height: calc(26 / 22);
  }
}
.address-list__text {
  line-height: calc(13 / 11);
  @media screen and (min-widht: 768px) {
    line-height: calc(15 / 18);
  }
}
.footer-wrapper-down {
  position: relative;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
      content: '';
      position: absolute;
      top: -41px;
      left: 0;
      display: block;
      width: 100%;
      opacity: 0.2;
      border-top: 1px solid var(--primary-text-color);
    }
  }
}
.footer-wrapper-down__text {
  @media screen and (max-width: 767px) {
    position: relative;
    margin-bottom: 33px;
    &::before {
      content: '';
      position: absolute;
      top: -16px;
      left: -10px;
      display: block;
      width: calc(100% + 2 * 10px);
      opacity: 0.2;
      border-top: 1px solid var(--primary-text-color);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: -10px;
      display: block;
      width: calc(100% + 2 * 10px);
      opacity: 0.2;
      border-bottom: 1px solid var(--primary-text-color);
    }
  }
}
.footer-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.footer-nav__item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 34px;
    }
  }
}
.footer-nav__link {
  color: inherit;
}
.wrapper-social {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.wrapper-social__text {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 28px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    &:not(:last-child) {
      margin-right: 18px;
      @media screen and (min-width: 768px) {
        margin-right: 14px;
      }
    }
  }
  &__icon {
    display: block;
  }
}
